<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Název stránky {% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Vítejte na stránkách abeced!</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('abeceda') }}">Abeceda</a></li>
                <li><a href="{{ url_for('alfabeta') }}">Alfabeta</a></li>
                <li><a href="{{ url_for('azbuka') }}">Azbuka</a></li>
                <li><a href="{{ url_for('hebrejstina') }}">Hebrejština</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Stránky o abecedách</p>
    </footer>
</body>
</html>