{% extends 'base.html' %}

{% block content %}

<h2>
    {% block title %}
    Formular
    {% endblock %}
</h2>

    <form method="POST">

        <label>Uzivatelske jmeno
        <input type="text" name="user" placeholder="Vyplnte jmeno uzivatele" required>
        </label>

        <label>
            password
            <input  type="password" name="password" placeholder="Vyplnte heslo">
        </label>

        <label>
            Radio
            <input type="radio" name="radio" value="JavaScript">
        </label>

        <label>PHP
            <input type="radio" name="radio" value="PHP">
        </label>

        <input type="submit" name="Odeslat">
    </form>
{% endblock %}